.btn{
    color:#fff;
    background-color: lightskyblue;
    outline: none;
    border: 0;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}
