html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.translatey-25{
  transform: translateY(25%);
}

.d-flex{
  display: flex
}

.flex-column {
  flex-direction: column;
}

.align-center{
  align-items: center
}

.justify-center{
  justify-content: center
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

:root {
  --primary: lightblue;
  --accent: #d4dbe0;
  --social: #6CB4EE;
  --link: #4f86f7;
  --navbar-height: 10vh;
  --footer-height: 10vh;
  --content-min-height: 80vh;
  --navbar-links-number: 3
}

@media all and (max-height: 900px){
  :root{
    --navbar-height: 10vh;
    --footer-height: 10vh;
    --content-min-height: 80vh;
  }
}
